@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Minecraft";
  src: url("../src/font/Minecraft.ttf");
}
@font-face {
  font-family: "baloon";
  src: url("../src/font/BALLOON\ DREAMS.ttf");
}
@font-face {
  font-family: "peteroy";
  src: url("../src/font/Peteroy.ttf");
}

header {
  font-family: "baloon";
}
#home {
  font-family: "Minecraft";
  font-size: larger;
  height: 100%;
}
#about {
  font-family: "minecraft";
  
}
#project {
  font-family: "baloon";
}
#game {
  font-family: "peteroy";
}
body {
  /* font-family: "Minecraft"; */
}
footer {
  font-family: "baloon";
}

.tampil {
  background: rgba(0, 0, 0, 0.7);
}
.tampil-body {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.tampil-body div {
  @apply bg-white dark:bg-dark p-5 rounded-lg;
  margin: auto;
  width: 50%;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-20 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.on {
  display: none;
}
.tombol-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}
.tombol-aktif > span:nth-child(1) {
  @apply rotate-45;
}
.tombol-aktif > span:nth-child(2) {
  @apply scale-0;
}

.tombol-aktif > span:nth-child(3) {
  @apply -rotate-45;
}
#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}
/* Hide scrollbar */
::-webkit-scrollbar{
  width: 0;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: transparent;
}
::-webkit-scrollbar-thumb:hover{
  background: transparent;
}


/* Cursor */
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  transition: 0.1s;
  transform: translate(-50%,-50%);
  pointer-events: none;
}